<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %} - Trash Bin Central</title>
    <meta name="viewport" content="initial-width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/screen.css" media="screen,projection,tv">
    <link rel="stylesheet" href="/assets/bbcode.css" media="screen,projection,tv,print">
    {% block opengraph %}
    <meta property="og:site_name" content="Trash Bin Central">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Trash Bin Central">
    <meta property="og:description" content="Experimental SRB2 add-on hosting site.">
    <meta property="og:image" content="{{ getBaseUrl() }}/logo.png">
    {% endblock %}
</head>

<body>
    <div id="site-container">
        <header id="banner-container">
            <div>
                <h1><a href="/">Trash Bin Central</a> <span>BEYTAH</span></h1>
                <ul class="button-container">
                    {% if activeUser.isSome() and activeUser.unwrap().id.isSome() %}
                    {% let uu = activeUser.unwrap() %}
                    <li>Welcome, <a href="/user/{{ uu.id.unwrap() }}">{{ uu.name }}</a></li>
                    <li>
                        <form method="post" action="/logout">
                            <input type="submit" value="Log out">
                            <input type="hidden" name="lgacsrf" value="{{ logoutAcsrf }}">
                        </form>
                    </li>
                    {% else %}
                    <li><a href="/login" class="button button_outline">Log in</a></li>
                    {% endif %}
                    <li><a href="/upload" class="button button_cta" id="upload-button">Upload</a></li>
                    <li class="hide"><a href="#main-menu" class="accessibility-tip">Skip to navigation</a></li>
                    <li class="hide"><a href="#main-content" class="accessibility-tip">Skip to content</a></li>
                </ul>
            </div>
            <nav id="banner-search-container">
                <hr>
                <a href="#advanced-search-form" id="advanced-search-button" class="button button_cta">
                    Advanced Search
                </a>
                <form method="get" action="/search" id="banner-search">
                    <fieldset>
                        <input type="text" name="q" placeholder="Search for Addons&hellip;">
                    </fieldset>
                    <fieldset>
                        <input type="submit" value="Search">
                    </fieldset>
                </form>
            </nav>
            <!--div id="login-indicator">
                <span>
                    Logged in as <b>root</b>
                </span>
            </div-->
        </header>

        <div id="main-container">
            <nav id="main-menu">
                <hr>
                <ul class="menu-button-container">
                    <!--li><a href="#" class="button">News</a></li-->
                    <li><a href="/addons" class="button">Addons</a></li>
                    <li><a href="/reviews" class="button">Reviews</a></li>
                    <li><a href="/bbcode" target="_blank" class="button">Post Preview</a></li>
                    <!--li><a href="#" class="button">Level Contest</a></li-->
                </ul>
            </nav>
            <main id="main-content">
                {% if len(toasts) > 0 %}
                <section id="toasts">
                    <hr>
                    <ul id="toast-contents">
                        {% for toast in toasts %}
                        <li>{{ toast.escape() }}</li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}

                {% block maincontent %}
                {% endblock %}
            </main>
        </div>

        <footer id="main-footer">
            <hr>
            <span>
                2025 Trash Bin Central, version {{ config.TrashBinCentralVersion }}
                <br>
                This website is <a href="{{ config.TrashBinCentralGitLink }}">reusable</a>
                under <a href="https://www.gnu.org/licenses/agpl-3.0.txt">AGPL-3.0</a>.
                <br>
                View the <a href="/assets/source_code.zip">source code</a> for this exact instance
            </span>
        </footer>
    </div>

    <form method="get" action="/search" id="advanced-search-form">
        <div>
            <h2>Advanced Search</h2>
            <a href="#site-container" id="advanced-search-form-close">Back to page</a>
            <p>
                Any empty fields is taken to mean "any".
            </p>
            <fieldset>
                <div>
                    <label for="advs1">Name</label>
                    <input type="text" id="advs1" name="term" placeholder="Green Hill Zone">
                    <select id="query-type" name="term-type">
                        <option value="addon">Add-on</option>
                        <option value="level">Level</option>
                        <option value="addon-or-level">Both</option>
                    </select>
                </div>

                <div>
                    <label for="advs2">Author</label>
                    <input type="text" id="advs2" name="author" placeholder="Foo McBarFace">
                    <label for="advs2">Only one author may be specified at a time</label>
                </div>

                <div>
                    <label for="advs3">Tags</label>
                    <input type="text" id="advs3" name="tags" placeholder="srb2.2, ctf, single">
                    <label for="advs3">Comma-separated</label>
                </div>

                <div>
                    <label for="advs4">Results</label>
                    <input type="text" inputmode="numeric" id="advs4" name="n" placeholder="10">
                    <label for="advs4">Number of results per page</label>
                </div>
            </fieldset>
            <fieldset>
                <input type="submit" value="Search">
            </fieldset>
        </div>
    </form>
    <script src="/assets/tbcentral.js"></script>
</body>

</html>
