{% extends "_base_.html" %}
{% block pagetitle %}Edit Add-on{% endblock %}
{% block maincontent %}
<h2>Edit add-on metadata</h2>
<form method="post" id="upload-addon-form" enctype="application/x-www-form-urlencoded">
<fieldset>
    <legend>Basic information</legend>

    <div>
    <label for="title">Add-on name:</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Scrimblo McBrimblo Adventure"
      value='{{ priorInput.getOrDefault("title").escape() }}'
    >
    <label for="title">
        Title of your add-on. Required.
    </label>
    </div>

    <div>
    <label for="author">Author:</label>
    <input
      type="text"
      id="author"
      name="author"
      placeholder="Your name Here"
      value='{{ priorInput.getOrDefault("author").escape() }}'
    >
    <label for="author">
        Who created the add-on. Required, if you are not signed in.
    </label>
    </div>

    <div>
    <label for="compat">This add-on is for…</label>
    <select name="compat" id="compat">
        <optgroup label="Sonic Robo Blast 2">
        <option value="srb2-2.2">SRB2 2.2.x</option>
        <option value="srb2-2.1">SRB2 2.1.x</option>
        <option value="srb2-2.0">SRB2 2.0.x</option>
        <option value="srb2-1.09">SRB2 1.09.x</option>
        <option value="srb2-1.07">SRB2 1.07</option>
        <option value="srb2-1.01-1.04">SRB2 1.01–1.04</option>
        <option value="srb2-demo4">SRB2 Demo 4</option>
        <option value="srb2-demo3">SRB2 Demo 3</option>
        <option value="srb2-demo2">SRB2 Demo 2</option>
        <option value="srb2-demo1">SRB2 Demo 1</option>
        </optgroup>
        <optgroup label="Sonic Robo Blast 2 Kart">
        <option value="drrr-2.0">Dr Robotnik's Ring Racers 2.x</option>
        <option value="srb2k-1.0">SRB2K 1.x</option>
        </optgroup>
        <optgroup label="Cross">
            <option value="cross">SRB2 + SRB2K (X will automatically be appended)</option>
        </optgroup>
    </select>
    <label for="compat">
        The intended game this add-on is for. Required.
    </label>
    </div>

    <div>
    <label for="synopsis">Synopsis:</label>
    <input
      type="text"
      id="synopsis"
      name="synopsis"
      placeholder="Some kinda mod"
      value='{{ priorInput.getOrDefault("synopsis").escape() }}'
    >
    <label for="synopsis">
        A short description of your add-on. Required.
    </label>
    </div>

    <div>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" placeholder="A ridiculously awesome add-on that will knock your socks off blah blah blah here's where the credits would go too...">{{ priorInput.getOrDefault("desc").escape() }}</textarea>
    <label for="desc">
        A full description of your add-on. BBcode supported, <a href="/bbcode" target="_blank">use this to preview</a>.
    </label>
    </div>
</fieldset>

<fieldset id="upload-addon-form-confirm">
    <legend>Upload</legend>
    <div>
    <input type="checkbox" name="agree" id="agree">
    <label for="agree">I understand the <a href="/guidelines" target="_blank">submission guidelines</a></label>
    </div>
    {% if showEditCodeField %}
    <div>
    <label for="edit-code">Edit code:</label>
    <input type="text" id="edit-code" name="edit-code" placeholder="woeijfoiweijfi" value="">
    </div>
    {% endif %}
    <div>
    <input type="hidden" name="csrf" value="{{ acsrf.escape() }}">
    <input type="submit" value="Submit">
    </div>
</fieldset>
</form>
{% endblock %}
