{% extends "_base_.html" %}
{% block pagetitle %}Add-on Updates{% endblock %}
{% block maincontent %}
<h2>Add-on Updates</h2>

{% for vers in versions %}
<article id="{{ vers.versionString.anchorize() }}">
    <header>
        <h3><a href="#{{ vers.versionString.anchorize() }}">{{ vers.versionString.escape() }}</a></h3>
    </header>
    <div>
        {% if vers.releaseNotes.isSome() %}
            {{ vers.releaseNotes.unwrap().bbcode2html() }}
        {% else %}
            <i>No release notes</i>
        {% endif %}
    </div>
</article>
{% endfor %}
{% endblock %}
