{% extends "_base_.html" %}
{% block pagetitle %}Upload Release{% endblock %}
{% block maincontent %}
<h2>Upload a release</h2>
<form method="post" id="upload-addon-form" enctype="multipart/form-data">
<fieldset>
    <legend>File information</legend>

    <div>
    <label for="mainfile">File</label>
    <input type="file" id="mainfile" name="main-file">
    <label for="mainfile">
        The file to upload. Required.
    </label>
    </div>

    <div>
    <label for="vers">Version:</label>
    <input
      type="text"
      id="vers"
      name="vers"
      placeholder="1.0"
      value='{{ priorInput.getOrDefault("vers").escape() }}'
    >
    <label for="vers">
        The version number of the add-on you're uploading. Required.
    </label>
    </div>

    <div>
    <label for="changelog">Release notes:</label>
    <textarea name="changelog" id="changelog" placeholder="Changed some stuff :trolled:"></textarea>
    <label for="changelog">
        Things you want to say (if any). BBcode supported, <a href="/bbcode" target="_blank">use this to preview</a>.
    </label>
    </div>
</fieldset>

<fieldset id="upload-addon-form-confirm">
    <legend>Upload</legend>
    <div id="upload-addon-form-warning">
    <span>
        Please keep in mind the following:
    </span>
    <ul class="proper-list">
        <li>
            Thumbnails are generated from up to 4 randomly-picked
            level select pictures.
        </li>
        <li>
            Thumbnails will <u>not</u> be generated if the
            add-on doesn't have any level select pictures.
        </li>
        <li>
            You can specify your own add-on thumbnail using
            a lump named <code>TBCTHUMB</code>.
        </li>
        <li>
            PNG is preferred as the format for <code>TBCTHUMB</code>.
        </li>
        <li>
            If <code>TBCTHUMB</code> is provided, automatic thumbnails
            will not be generated, <code>TBCTHUMB</code> will be used
            instead.
        </li>
        <li>
            Recommended to place the <code>TBCTHUMB</code> lump before
            any level select pictures, if you plan to have both.
        </li>
    </ul>
    </div>
    <div>
    <input type="checkbox" name="agree" id="agree">
    <label for="agree">I understand the <a href="/guidelines" target="_blank">submission guidelines</a></label>
    </div>
    {% if showEditCodeField %}
    <div>
    <label for="edit-code">Edit code:</label>
    <input type="text" id="edit-code" name="edit-code" placeholder="woeijfoiweijfi" value="">
    </div>
    {% endif %}
    <div>
    <input type="hidden" name="csrf" value="{{ acsrf.escape() }}">
    <input type="submit" value="Submit">
    </div>
</fieldset>
</form>
{% endblock %}
