{% extends "_base_.html" %}
{% block pagetitle %}{{ addon.name.escape() }}{% endblock %}
{% block opengraph %}
<meta property="og:site_name" content="Trash Bin Central">
<meta property="og:type" content="article">
<meta name="author" content="{{ addon.author.escape() }}">
<meta property="og:title" content="{{ addon.name.escape() }}">
<meta property="og:description" content="{{ addon.synopsis.escape() }}">
<meta property="og:image" content="{{ getBaseUrl() }}{% if not previewImage.isSome() %}/assets/missing-preview.png{% else %}/previews/{{ previewImage.unwrap() }}{% endif %}">
{% endblock %}
{% block maincontent %}

<section id="addon-info">
    <header>
        <div>
            <h2>
                {{ addon.name.escape() }}
                by
                {% if addon.authorId.isSome() %}
                <a href="/user/{{ addon.authorId.unwrap() }}" class="registered-author">
                    {{ addon.author.escape() }}
                </a>
                {% else %}
                <a href="/search?author={{ addon.author.escape() }}">
                    {{ addon.author.escape() }}
                </a>
                {% endif %}
            </h2>

            <h3 class="hide">Synopsis</h3>
            <p class="synopsis">
                {{ addon.synopsis.escape() }}
            </p>
        </div>
        {%
            let lastHash = hashToHex(latest.hash)
        %}
        {% if lastHash.isOk() %}
        <div>
            <a
                href="/download/{{ lastHash.unwrap() }}"
                id="addon-download-button"
                class="button button_cta"
            >
                Download ({{ strhelper.formatSize(latest.fileSize, 1) }})
            </a>
        </div>
        {% endif %}
    </header>

    {% if len(addonTags) > 0 %}
    <h3 class="hide">Tags</h3>
    <ul class="button-container">
        {% for tag in addonTags %}
        <li>
            <a href="/search?tags={{ tag }}" class="button button_tag">
                {{ tag.escape() }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="addon-info-content">
        <div>
            <h3>Description</h3>
            <p>
                {% if addon.description.isSome() %}
                    {{ addon.description.unwrap().bbcode2Html() }}
                {% else %}
                    <i>No description available</i>
                {% endif %}
            </p>

            {% if len(latest.readme) > 0 %}
            <h3>Readme</h3>
            <pre>{{ latest.readme }}</pre>
            {% endif %}

            {% if len(levelList) > 0 %}
            <h3>Levels</h3>
            <ul class="proper-list">
                {% for levelName in levelList %}
                <li>{{ levelName.escape() }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h3>All Versions</h3>

            <div class="table-container">
            <table>
                <tr>
                    <th>Version</th>
                    <th>Release Date</th>
                    <th>Size</th>
                    <th>Download</th>
                </tr>
                {% for version in versions %}
                {%
                    let verHash = hashToHex(version.hash)
                %}
                {% if verHash.isOk() %}
                <tr>
                    <td>
                        {{ version.versionString.escape() }}
                    </td>
                    <td>
                        <time datetime="{{ version.releaseDate }}">{{ version.releaseDate.format(config.StdHumanFormat) }}</time>
                    </td>
                    <td>
                        {{ strhelper.formatSize(version.fileSize) }}
                    </td>
                    <td>
                        <a
                            href="/download/{{ verHash.unwrap() }}"
                        >
                            Download
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            </div>
            {% if addon.id.isSome() %}
            <a href="/addons/{{ addon.id.unwrap() }}/updates">View change log</a>
            {% endif %}
        </div>
        <div class="addon-infobox">
            <h3 class="hide">Add-on Info</h3>
            {% if not previewImage.isSome() %}
                <img src="/assets/missing-preview.png" width="160" height="100" alt="Missing icon">
            {% else %}
                <img src="/previews/{{ previewImage.unwrap() }}" width="160" height="100" alt="Level preview icon">
            {% endif %}
            <dl>
                <div>
                    <dt>Format</dt>
                    <dd>
                    {%- case latest.fileType -%}
                    {%- of Wad -%}
                        WAD
                    {%- of Wadzip -%}
                        WADZip
                    {%- of Pk3 -%}
                        PK3
                    {%- endcase -%}
                    </dd>
                </div>
                <div>
                    <dt>Latest</dt>
                    <dd>{{ latest.versionString.escape() }}</dd>
                </div>
                <div>
                    <dt>Statistics</dt>
                    <dd>
                        <ul class="proper-list">
                            <li>Flats: {{ latest.flats }}</li>
                            <li>Textures: {{ latest.texs }}</li>
                            <li>Sprites: {{ latest.sprites }}</li>
                            <li>SOCs: {{ latest.socs }}</li>
                            <li>Lua: {{ latest.luas }}</li>
                            <li>Maps: {{ latest.maps }}</li>
                            <li>GFXs: {{ latest.gfxs }}</li>
                            <li>Sounds: {{ latest.snds }}</li>
                            <li>Songs: {{ latest.mscs }}</li>
                        </ul>
                    </dd>
                </div>
                <div>
                    <dt>Uploaded</dt>
                    <dd>
                        <time datetime="{{ addon.uploadDate }}">
                            {{ addon.uploadDate.format(config.StdHumanFormat) }}
                        </time>
                    </dd>
                </div>
                <div>
                    <dt>Updated</dt>
                    <dd>
                        <time datetime="{{ addon.lastUpdated }}">
                            {{ addon.lastUpdated.format(config.StdHumanFormat) }}
                        </time>
                    </dd>
                </div>
                <div>
                    <dt>Rating</dt>
                    <dd>
                        {% let rstring = addon_reviews.getRatingString(db, addon) %}
                        {% if rstring.isOk() %}
                            {{ rstring.unwrap() }}
                        {% else %}
                            ???
                        {% endif %}
                    </dd>
                </div>
                <div>
                    <dt>Downloads</dt>
                    <dd>
                        {% let dlcount = addon_downloads.getDownloadCountForAddon(db, addon) %}
                        {% if dlcount.isOk() %}
                            {{ dlcount.unwrap() }}
                        {% else %}
                            ???
                        {% endif %}
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <h3>Reviews</h3>

    {% if addon.id.isSome() %}
    <form method="post" id="add-review-form" action="/addons/{{ addon.id.unwrap() }}/review">
        <input type="hidden" name="type" value="review">
        <fieldset id="review-box-container">
            <label for="review-box">
                Add yours:
            </label>
            <br>
            <textarea
                id="review-box"
                name="review-content"
                placeholder="Say something about this addon... (BBcode supported)"
            ></textarea>
        </fieldset>
        <div id="rating-and-submit-container">
            <fieldset>
                <legend>Rating</legend>
                <div id="review-form-rating-container">
                    <input type="radio" id="r1" name="review-rating" value="1">
                    <label for="r1">1 star</label>
                    <input type="radio" id="r2" name="review-rating" value="2">
                    <label for="r2">2 stars</label>
                    <input type="radio" id="r3" name="review-rating" value="3">
                    <label for="r3">3 stars</label>
                    <input type="radio" id="r4" name="review-rating" value="4">
                    <label for="r4">4 stars</label>
                    <input type="radio" id="r5" name="review-rating" value="5">
                    <label for="r5">5 stars</label>
                    <div id="review-form-rating"></div>
                </div>
            </fieldset>
            <fieldset>
                <input type="hidden" name="token" value="{{ acsrf.escape() }}">
                <input type="submit" value="Send">
            </fieldset>
        </div>
    </form>
    {% endif %}

    {% for review in reviews %}
        {% importnimja "fragments/review.html" %}
    {% endfor %}

    <h3>Administrative</h3>

    <ul class="button-container">
        {% if addon.id.isSome() %}
        <li><a href="/addons/{{ addon.id.unwrap() }}/edit" class="button">Edit this addon</a></li>
        <li><a href="/addons/{{ addon.id.unwrap() }}/add" class="button">Upload a new version</a></li>
        {% endif %}
    </ul>
</section>
{% endblock %}
