{% extends "_base_.html" %} {% block maincontent %}
<div class="split-layout">
    <section id="search-filters">
        <h2>Search</h2>

        <form method="get" class="search-menu">
            <fieldset>
                <div class="query-box">
                    <input type="text" placeholder="Test" name="q" />
                    <select name="for">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="tags">Tags</option>
                    </select>
                </div>
                <br />
                <span>Sort by</span>
                <select name="s">
                    <option value="upload">Upload Date</option>
                    <option value="release">Release Date</option>
                    <option value="name">Name</option>
                    <option value="stars">Stars</option>
                    <option value="downloads">Downloads</option>
                </select>
                <label for="desc">Descending</label>
                <input type="checkbox" id="desc" name="d" />
            </fieldset>
            <fieldset>
                <div>
                    <h3>Game</h3>
                    <select name="game">
                        <optgroup label="SRB2">
                            <option value="srb2-2.2">SRB2 2.2</option>
                            <option value="srb2-2.1">SRB2 2.1</option>
                        </optgroup>
                        <optgroup label="SRB2K">
                            <option value="srb2k-1">SRB2K 1.x</option>
                        </optgroup>
                        <optgroup label="DRRR">
                            <option value="drrr-2">DRRR 2.x</option>
                        </optgroup>
                    </select>
                </div>
                <div>
                    <h3>Changes</h3>
                    <div class="checkbox-list">
                        <div>
                            <input type="checkbox" id="c1" checked name="hl" />
                            <label for="c1">Lua</label>
                        </div>
                        <div>
                            <input type="checkbox" id="c2" checked name="hc" />
                            <label for="c2">Characters</label>
                        </div>
                        <div>
                            <input type="checkbox" id="c3" checked name="hm" />
                            <label for="c3">Maps</label>
                        </div>
                        <div>
                            <input type="checkbox" id="c4" checked name="hs" />
                            <label for="c4">Music</label>
                        </div>
                        <div>
                            <input type="checkbox" id="c5" checked name="ho" />
                            <label for="c5">Misc</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <input type="submit" />
            </fieldset>
        </form>

        <fieldset class="page-nav">
            <legend>Page</legend>
            <ul>
                <li><a href="?before=100">First</a></li>
                <li>1</li>
                <li><a href="?before=25">2</a></li>
                <li><a href="?before=25">3</a></li>
                <li><a href="?before=25">4</a></li>
                <li><a href="?before=25">5</a></li>
                <li>…</li>
                <li><a href="?before=1">Last</a></li>
            </ul>
        </fieldset>
    </section>
    <section id="addons">
        <h2 class="title-with-link">
            <span>Latest Add-ons</span><span>(<a href="/addons">more</a>)</span>
        </h2>
        <div class="addons-list">
            {% for addon in addonsCurrentView %} {% importnimja
            "fragments/addon_blurb.html" %} {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
