<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BBCode testing grounds</title>
        <meta name="viewport" content="initial-width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/assets/bbcode.css" media="screen,projection,tv,print">
    </head>
    <body>
        <div>
            <b>Supported bbcode tags:</b>
            <ol>
                <li><code>[b]Bold[/b]</code> - makes text <b>bold</b></li>
                <li><code>[i]Italic[/i]</code> - makes text <i>slanted</i></li>
                <li><code>[u]Underlined[/u]</code> - makes text <u>underlined</u></li>
                <li><code>[ul] [li]List 1[/li] [li]List 2[/li] [/ul]</code> - starts a list</li>
                <li><code>[big]Big[/big]</code> - makes text <span class="bbcode-big">big</span></li>
                <li><code>[center]Center[/center]</code> - makes an entire section centered</li>
            </ol>
        </div>
        <form method="get">
            <textarea name="input">{{ input.escape() }}</textarea>
            <input type="submit" value="Preview">
        </form>
        <div id="bbcode-area">
            {{ input.bbCode2Html() }}
        </div>
    </body>
</html>
