{% extends "_base_.html" %}
{% block pagetitle %}Home{% endblock %}
{% block maincontent %}
<h2>Welcome</h2>

<p>
    Welcome to the Trash Bin Central beytah. This is an experimental alternative
    SRB2 add-on hub.
    As this is still in development, expect some downtime, buggy
    ass shit, funny op vulnerabilities, and more.
</p>

<h2>Random Add-on</h2>

{% for addon in randomAddons %}
{% importnimja "fragments/addon_blurb.html" %}
{% endfor %}

<p>Refresh to see another!</p>

<h2>Latest</h2>

<div class="addon-showcase">
    {% for addon in addonsLatest %}
    {% importnimja "fragments/addon_mini_blurb.html" %}
    {% endfor %}
</div>

<h2>Highest Rated of the Week</h2>

<div class="addon-showcase">
    {% for addon in addonsRanked %}
    {% importnimja "fragments/addon_mini_blurb.html" %}
    {% endfor %}
</div>

<img
    src="/assets/didja.png" width="103" height="152"
    alt="Sonic from SRB2 Final Demo 1.04"
    title="Did you get all those Chaos Emeralds???"
    style="
        display: block;
        margin: 0 0 0 auto;
    "
>
{% endblock %}
