<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Redirection</title>
    <meta name="viewport" content="initial-width=device-width,initial-scale=1">
</head>

<body>
    <p>You are being redirected, click <a href="{{ location }}">here</a> if you haven't been redirected already...</p>
</body>

</html>
