{% extends "_base_.html" %} {% block maincontent %}
<main>
    <h2>Register an account</h2>
    <form method="post">
        <fieldset>
            <legend>Basic information</legend>

            <label for="uname">User name</label>
            <input type="text" id="uname" name="mxnvun" required />

            <br />

            <label for="pword">Password</label>
            <input type="password" id="pword" name="xmnxpw" required />

            <br />

            <label for="pwordc">Confirm Password</label>
            <input type="password" id="pwordc" name="xmnxpwc" required />

            <br />

            <input type="submit" value="Submit" />
        </fieldset>
        <fieldset>
            <input type="hidden" name="csrf" value="{{ acsrf }}" />
        </fieldset>
    </form>
</main>
{% endblock %}
