{% extends "_base_.html" %}
{% block pagetitle %}Search{% endblock %}
{% block maincontent %}
<h2>Search Results</h2>
<span>
    {% if totalResults > 0 %}
        ({{ totalResults }} total results)
    {% else %}
        (no more results)
    {% endif %}
</span>
{% for addon in addons %}
{% importnimja "fragments/addon_blurb.html" %}
{% endfor %}
{% if nextUrl.isSome() %}
<nav id="search-nav">
    <ul class="button-container button-container_centered">
        <li><a class="button" href="{{ nextUrl.unwrap() }}">Next</a></li>
    </ul>
</nav>
{% endif %}
{% endblock %}
