{% extends "_base_.html" %}
{% block pagetitle %}Upload Add-on{% endblock %}
{% block maincontent %}
<h2>Upload an add-on</h2>
{% if not activeUser.isSome() %}
<div style="font-size: 1.25em; line-height: 1.5; color: yellow">
    <p>
        You are currently not logged in, so you will be
        given an <b>edit&nbsp;code</b> <i>after</i> your
        add-on has been uploaded.
    </p>
    <p>
        Do not lose this code, or you won't be
        able to edit add-on info or add versions.
    </p>
</div>
{% endif %}
<form method="post" id="upload-addon-form" enctype="multipart/form-data">
<fieldset>
    <legend>Basic information</legend>

    <div>
    <label for="title">Add-on name:</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Scrimblo McBrimblo Adventure"
      value='{{ priorInput.getOrDefault("title").escape() }}'
    >
    <label for="title">
        Title of your add-on. Required.
    </label>
    </div>

    <div>
    <label for="author">Author:</label>
    <input
      type="text"
      id="author"
      name="author"
      {% if activeUser.isSome() %}
        placeholder="{{ activeUser.unwrap().name.escape() }}"
        disabled="1"
      {% else %}
        placeholder="Your name Here"
      {% endif %}
      value='{{ priorInput.getOrDefault("author").escape() }}'
    >
    <label for="author">
        Who created the add-on. Required, if you are not signed in.
    </label>
    </div>

    <div>
    <label for="compat">This add-on is for…</label>
    <select name="compat" id="compat">
        <optgroup label="Sonic Robo Blast 2">
        <option value="srb2-2.2">SRB2 2.2.x</option>
        <option value="srb2-2.1">SRB2 2.1.x</option>
        <option value="srb2-2.0">SRB2 2.0.x</option>
        <option value="srb2-1.09">SRB2 1.09.x</option>
        <option value="srb2-1.07">SRB2 1.07</option>
        <option value="srb2-1.01-1.04">SRB2 1.01–1.04</option>
        <option value="srb2-demo4">SRB2 Demo 4</option>
        <option value="srb2-demo3">SRB2 Demo 3</option>
        <option value="srb2-demo2">SRB2 Demo 2</option>
        <option value="srb2-demo1">SRB2 Demo 1</option>
        </optgroup>
        <optgroup label="Sonic Robo Blast 2 Kart">
        <option value="drrr-2.0">Dr Robotnik's Ring Racers 2.x</option>
        <option value="srb2k-1.0">SRB2K 1.x</option>
        </optgroup>
        <optgroup label="Cross">
            <option value="cross">SRB2 + SRB2K (X will automatically be appended)</option>
        </optgroup>
    </select>
    <label for="compat">
        The intended game this add-on is for. Required.
    </label>
    </div>

    <div>
    <label for="synopsis">Synopsis:</label>
    <input
      type="text"
      id="synopsis"
      name="synopsis"
      placeholder="Some kinda mod"
      value='{{ priorInput.getOrDefault("synopsis").escape() }}'
    >
    <label for="synopsis">
        A short description of your add-on. Required.
    </label>
    </div>

    <div>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" placeholder="A ridiculously awesome add-on that will knock your socks off blah blah blah here's where the credits would go too...">{{ priorInput.getOrDefault("desc").escape() }}</textarea>
    <label for="desc">
        A full description of your add-on. BBcode supported, <a href="/bbcode" target="_blank">use this to preview</a>.
    </label>
    </div>
</fieldset>

<fieldset>
    <legend>File information</legend>

    <div>
    <label for="mainfile">File</label>
    <input type="file" id="mainfile" name="main-file">
    <label for="mainfile">
        The file to upload. Required.
    </label>
    </div>

    <div>
    <label for="vers">Version:</label>
    <input
      type="text"
      id="vers"
      name="vers"
      placeholder="1.0"
      value='{{ priorInput.getOrDefault("vers").escape() }}'
    >
    <label for="vers">
        The version number of the add-on you're uploading. Required.
    </label>
    </div>

    <div>
    <label for="changelog">Release notes:</label>
    <textarea name="changelog" id="changelog" placeholder="Premiere release!!!!!!"></textarea>
    <label for="changelog">
        Things you want to say (if any) for the initial version. BBcode supported, <a href="/bbcode" target="_blank">use this to preview</a>.
    </label>
    </div>
</fieldset>

<fieldset id="upload-addon-form-confirm">
    <legend>Upload</legend>
    <div id="upload-addon-form-warning">
    <span>
        Please keep in mind the following:
    </span>
    <ul class="proper-list">
        <li>
            Thumbnails are generated from up to 4 randomly-picked
            level select pictures.
        </li>
        <li>
            Thumbnails will <u>not</u> be generated if the
            add-on doesn't have any level select pictures.
        </li>
        <li>
            You can specify your own add-on thumbnail using
            a lump named <code>TBCTHUMB</code>.
        </li>
        <li>
            PNG is preferred as the format for <code>TBCTHUMB</code>.
        </li>
        <li>
            If <code>TBCTHUMB</code> is provided, automatic thumbnails
            will not be generated, <code>TBCTHUMB</code> will be used
            instead.
        </li>
        <li>
            Recommended to place the <code>TBCTHUMB</code> lump before
            any level select pictures, if you plan to have both.
        </li>
    </ul>
    </div>
    <div>
    <input type="checkbox" name="agree" id="agree">
    <label for="agree">I understand the <a href="/guidelines" target="_blank">submission guidelines</a></label>
    </div>
    <div>
    <input type="hidden" name="csrf" value="{{ acsrf.escape() }}">
    <input type="submit" value="Submit">
    </div>
</fieldset>
</form>
{% endblock %}
