{% extends "_base_.html" %}
{% block pagetitle %}User page{% endblock %}
{% block maincontent %}
<section id="user-header">
<h2>{{ userInfo.name.escape() }}</h2>
<img src="/assets/didja.png" width="200" height="200" alt="Profile picture of {{ userInfo.name.escape() }}">
<dl>
    <div>
        <dt>Joined</dt>
        <dd><time datetime="{{ userInfo.joinDate }}">{{ userInfo.joinDate.format(config.StdHumanFormat) }}</time></dd>
    </div>
    <div>
        <dt>Last seen</dt>
        <dd><time datetime="{{ userInfo.lastSeen }}">{{ userInfo.lastSeen.format(config.StdHumanFormat) }}</time></dd>
    </div>
    <div>
        <dt>Add-ons</dt>
        <dd>{{ userStats.addonCount }}</dd>
    </div>
    <div>
        <dt>Reviews</dt>
        <dd>{{ userStats.reviewCount }} </dd>
    </div>
</dl>
</section>

<h3>Submitted Add-ons</h3>

{% for addon in addonList %}
{% importnimja "fragments/addon_blurb.html" %}
{% endfor %}

<h3>Reviews Given</h3>

{% for review in reviewList %}
{% importnimja "fragments/review2.html" %}
{% endfor %}

{% endblock %}
