/* Temporary */

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

/* A simple reset */

html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form,
fieldset, caption, legend, table, tr, td, th, address, blockquote, img {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body,
button,
input,
table,
textarea,
select {
    font-size: 1rem;
}

body *,
::after,
::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

hr {
    display: none;
}

br {
    line-height: 1.25em;
}

/* Begin style */

html {
    --bgcolor: #0c1d3c;
    --fgcolor: #ffffff;
    --linkcolor: #ff9b18;
    --linkhovcolor: #ff7418;

    --primary-h: 218;
    --primary-s: 65%;
    --primary-l: 40%;

    --secondary-h: 23;
    --secondary-s: 80%;
    --secondary-l: 40%;

    --linkcolor: hsl(var(--secondary-h),
            calc(var(--secondary-s) + 10%),
            calc(var(--secondary-l) + 20%));
    --linkhovcolor: hsl(var(--secondary-h),
            calc(var(--secondary-s) + 10%),
            calc(var(--secondary-l) + 45%));

    --roundiness: 8px;

    --site-width: 72em;

    --spritesheet-img: url('spritesheet.svg');

    --main-font: 'Asap', Roboto, sans-serif;
    --heading-font: 'Wix Madefor Display', Futura, Arial, sans-serif;
}

p {
    margin: .5em 0;
}

a:hover {
    color: var(--linkhovcolor);
    text-decoration: underline;
}

body {
    line-height: 1.5em;
    background-color: var(--bgcolor);
    background-image: url("blubrix.png");
    background-repeat: repeat;
    background-attachment: scroll;
    color: var(--fgcolor);
    font-family: var(--main-font);
}

#site-container {
    max-width: var(--site-width);
    margin: auto;
    background-color: #111111aa;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

a {
    color: var(--linkcolor);
    text-decoration: none;
}

#banner-container {
    background-color: hsla(var(--primary-h),
            var(--primary-s),
            calc(var(--primary-l) - 15%),
            .8);
    background-image: linear-gradient(to bottom,
            transparent,
            hsl(var(--primary-h),
                calc(var(--primary-s) + 25%),
                calc(var(--primary-l) - 25%)));
    width: 100%;
    max-width: var(--site-width);
    backdrop-filter: blur(5px);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#main-footer {
    padding: 1em .5em;
    font-size: .9em;
    text-align: center;
    background-color: #111;
}

#main-container {
    display: flex;
}

#main-container>* {
    padding: .5em;
}

#main-container>main {
    max-height: 100%;
    flex-grow: 1;
    padding-right: 1em;
}

.button,
input[type="submit"],
button {
    display: inline-block;
    background-image: linear-gradient(to bottom,
            hsl(calc(var(--primary-h) - 10),
                var(--primary-s),
                calc(var(--primary-l) + 30%)) 0,
            hsl(var(--primary-h),
                var(--primary-s),
                var(--primary-l)) 2px);
    padding: 0.25em 0.5em;
    border-radius: var(--roundiness);
    text-decoration: none;
    color: var(--fgcolor);
    border: 0;
    font-family: inherit;
}

.button:hover,
input[type="submit"]:hover,
button:hover {
    color: var(--fgcolor);
    background-image: linear-gradient(to bottom,
            hsl(calc(var(--primary-h) - 10),
                var(--primary-s),
                calc(var(--primary-l) + 50%)) 0,
            hsl(var(--primary-h),
                var(--primary-s),
                calc(var(--primary-l) + 20%)) 2px);
    cursor: pointer;
    text-decoration: none;
}

.button_outline {
    border: 2px solid var(--fgcolor);
    background-image: none;
}

.button_outline:hover {
    background-image: none;
    background-color: rgba(255, 255, 255, .3);
}

.button_cta {
    background-image: linear-gradient(to bottom,
            hsl(calc(var(--secondary-h) - 10),
                var(--secondary-s),
                calc(var(--secondary-l) + 30%)) 0,
            hsl(var(--secondary-h),
                var(--secondary-s),
                var(--secondary-l)) 2px);
}

.button_cta:hover {
    background-image: linear-gradient(to bottom,
            hsl(calc(var(--secondary-h) - 10),
                var(--secondary-s),
                calc(var(--secondary-l) + 50%)) 0,
            hsl(var(--secondary-h),
                var(--secondary-s),
                calc(var(--secondary-l) + 20%)) 2px);
}

.accessibility-tip {
    position: fixed;
    bottom: -9999em;
    right: -9999em;
}

.accessibility-tip:focus {
    display: block;
    position: fixed;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    padding: 1em;
    height: 4em;
}

#banner-container {
    padding: 1em 1em .5em 1em;
    position: sticky;
    top: 0;
    z-index: 1;
}

#banner-search-container,
#banner-search-container>form {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

#banner-search-container>form {
    width: 100%;
}

fieldset {
    border: 0;
}

#banner-search-container fieldset:nth-child(1) {
    flex-grow: 1;
}

#banner-search-container fieldset:nth-child(1) input {
    width: 100%;
}

#advanced-search-button {
    text-indent: -999em;
    position: relative;
    width: 2em;
}

#advanced-search-button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    background-image: var(--spritesheet-img);
    background-size: 11em 13em;
    background-position: -.5em -.5em;
}

#banner-search-container input {
    height: 100%;
    padding: 0 .5em;
}

.hide {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
}

.button-container,
.menu-button-container {
    list-style: none;
    display: flex;
    gap: .5em;
}

.button-container {
    flex-direction: row;
    flex-wrap: wrap;
}

#banner-container .button-container {
    /* make up for hidden nav buttons */
    position: relative;
    left: 1em;
}

.menu-button-container {
    flex-direction: column;
}

#banner-container>div {
    display: flex;
    flex-direction: row;
    padding-bottom: .5em;
    justify-content: space-between;
}

#banner-container>div#login-indicator {
    justify-content: flex-end;
    padding-top: .1rem;
    padding-bottom: .1rem;
    background: black;
    margin: .5rem -1rem -0.5rem -1rem;
    padding-right: 1rem;
    font-size: .8em;
}

#banner-container h1 {
    flex-grow: 1;
}

#banner-container h1>a {
    color: var(--fgcolor);
}

#banner-container h1>a:hover {
    text-decoration: none;
    color: var(--linkhovcolor);
}

#banner-container h1>a:before {
    content: '';
    width: 1.333em;
    height: 1em;
    background-image: url('BCRWA3A7.png');
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: baseline;
    margin-right: .3em;
}

#banner-container h1 span {
    font-size: .5em;
    vertical-align: super;
}

#main-menu {
    background-color: #111111aa;
    min-width: 10em;
    padding-left: 1em;
}

.addon-blurb,
.mini-addon-blurb {
    border-radius: var(--roundiness);
    padding: .5em;
}

.addon-blurb h3,
.mini-addon-blurb h3 {
    padding: .5rem 0;
    font-size: 1.25em;
}

.addon-blurb h3>a:not(:hover),
.mini-addon-blurb h3>a:not(:hover) {
    color: var(--fgcolor);
}

.addon-blurb h3>span:nth-of-type(1),
.mini-addon-blurb h3>span:nth-of-type(1) {
    opacity: .5;
}

.addon-blurb h3>span:nth-of-type(2),
.mini-addon-blurb h3>span:nth-of-type(2) {
    font-size: .75em;
    font-weight: normal;
}

.addon-blurb h3>span:nth-of-type(2) a,
.mini-addon-blurb h3>span:nth-of-type(2) a {
    font-weight: bold;
}

.addon-blurb {
    display: flex;
}

.addon-blurb>div {
    flex-grow: 1;
}

.addon-blurb>figure {
    min-width: 10em;
}

.addon-blurb>figure figcaption dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .25em .5em;
}

.addon-showcase {
    columns: 3;
}

.mini-addon-blurb {
    overflow: hidden;
    word-break: break-all;
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
}

h2,
h3,
h4,
h5,
h6 {
    padding: 1rem 0;
    font-family: var(--heading-font);
}

#main-menu .button {
    width: 100%;
}

#advanced-search-form {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #000000c0;
    z-index: 2;
}

#advanced-search-form>div {
    width: 28em;
    height: 100%;
    overflow-y: scroll;
    background-color: #000000c0;
    max-width: 100%;
    padding: 1em;
    position: relative;
    animation: .2s 1 normal ease-out search-form-in;
}

#advanced-search-form:target {
    display: block;
    animation: .2s 1 normal linear search-form-bg-in;
}

@keyframes search-form-bg-in {
    0% {
        background-color: #00000000;
    }

    100% {
        background-color: #000000c0;
    }
}

@keyframes search-form-in {
    0% {
        left: -28em;
    }

    100% {
        left: 0;
    }
}

#addon-info-content {
    display: flex;
    margin-top: 1em;
}

#addon-info-content>div:nth-child(1) {
    flex-grow: 1;
    flex-shrink: 1;
}

.addon-infobox,
.addon-blurb,
.mini-addon-blurb {
    background-image: linear-gradient(to bottom,
            hsl(calc(var(--primary-h) + 10),
                var(--primary-s),
                calc(var(--primary-l) - 13%)) 4px,
            hsla(calc(var(--primary-h) + 10),
                var(--primary-s),
                calc(var(--primary-l) - 13%),
                .4) calc(100% - 32px),
            transparent);
}

.addon-infobox {
    flex-grow: 0;
    min-width: 16em;
    width: 16em;
    border-radius: var(--roundiness);
    padding: 1em 1em;
    text-align: center;
}

.synopsis {
    font-size: 1.25em;
    font-style: italic;
}

.addon-infobox dl>div {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.addon-infobox dl dt {
    width: 50%;
    font-weight: bold;
}

.addon-infobox dl dd {
    flex-grow: 1;
}

#addon-info>header {
    position: relative;
}

#addon-download-button {
    position: absolute;
    right: 0;
    top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#addon-download-button:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-image: var(--spritesheet-img);
    background-size: 11em 13em;
    background-position: 8em -1em;
}

#upload-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#upload-button:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-image: var(--spritesheet-img);
    background-size: 11em 13em;
    background-position: 2em -1em;
}

.review {
    background-color: #111;
    margin-bottom: 1em;
    border-radius: calc(var(--roundiness) / 1.5);
    overflow: hidden;
}

.review>header {
    padding: 0 1em;
    background-color: var(--bgcolor);
}

.review>div {
    padding: .5em 1em;
    background-color: #eef;
    color: #000;
    border-radius:
        0 0 calc(var(--roundiness) / 1.5) calc(var(--roundiness) / 1.5);
}

.review h4 {
    padding: .5em 0;
}

.review_reply {
    margin-left: 1em;
}

.review>details {
    margin-top: .2em;
    margin-left: 1em;
    margin-bottom: .5em;
}

.review>details:hover {
    background-color: rgba(255, 255, 255, .1);
}

input[type="text"] {
    border-radius: var(--roundiness);
    border: 0;
    font-family: inherit;
    font-weight: 500;
}

.addon-blurb figure figcaption dl div,
.mini-addon-blurb figure figcaption dl div {
    display: flex;
    flex-direction: row;
    gap: .25em;
    align-items: center;
}

.mini-addon-blurb figure figcaption dl {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.mini-addon-blurb figure figcaption dl div {
    justify-content: center;
}

.addon-blurb figure figcaption dt,
.mini-addon-blurb figure figcaption dt {
    width: 1.2em;
    height: 1.2em;
    text-indent: -999em;
    background-image: var(--spritesheet-img);
    background-size: 11em 13em;
}

.addon-blurb figure figcaption div:nth-of-type(1) dt,
.mini-addon-blurb figure figcaption div:nth-of-type(1) dt {
    /* Rating */
    background-position: 6em -1em;
}

.addon-blurb figure figcaption div:nth-of-type(2) dt {
    /* Length */
    background-position: 4em -1em;
}

.addon-blurb figure figcaption div:nth-of-type(3) dt {
    /* Downloads */
    background-position: 8em -1em;
}

.addon-blurb figure figcaption div:nth-of-type(4) dt,
.mini-addon-blurb figure figcaption div:nth-of-type(2) dt {
    /* Updated */
    background-position: 2em -1em;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    padding: .5em;
}

.table-container {
    overflow: auto;
}

th,
td {
    padding: .25em;
}

th {
    border-bottom: 2px solid var(--fgcolor);
}

tr:hover {
    background-color: rgba(255, 255, 255, .1);
}

#addon-info-content table {
    padding-left: 0;
    padding-top: 0;
}

#review-form-rating-container {
    position: relative;
    display: inline-block;
}

#r1,
#r2,
#r3,
#r4,
#r5 {
    width: 0;
    height: 0;
    position: absolute;
}

#r1+label,
#r2+label,
#r3+label,
#r4+label,
#r5+label {
    overflow: hidden;
    width: 2.06em;
    height: 2.3em;
    display: inline-block;
    margin: 0 -0.12em;
    z-index: 1;
    text-indent: -999em;
    cursor: pointer;
}

#r1+label:hover,
#r2+label:hover,
#r3+label:hover,
#r4+label:hover,
#r5+label:hover {
    background-color: rgba(255, 255, 255, .3);
}

#r1:active+label,
#r2:active+label,
#r3:active+label,
#r4:active+label,
#r5:active+label {
    background-color: rgba(255, 255, 255, .2);
}

#review-form-rating {
    width: 10em;
    height: 1.5em;
    background-image: var(--spritesheet-img);
    background-size: 18em auto;
    background-position: -1.5em -5em;
    position: absolute;
    top: .4em;
    left: 0;
    pointer-events: none;
}

#review-form-rating:before {
    content: '';
    width: 0;
    height: 1.5em;
    background-image: var(--spritesheet-img);
    background-size: 18em auto;
    background-position: -1.5em -8.25em;
    position: absolute;
    top: 0;
    left: 0;
    transition: .025s linear width;
}

#r1:checked~#review-form-rating:before,
#r1+label:hover~#review-form-rating:before {
    width: 2em;
}

#r2:checked~#review-form-rating:before,
#r2+label:hover~#review-form-rating:before {
    width: 4em;
}

#r3:checked~#review-form-rating:before,
#r3+label:hover~#review-form-rating:before {
    width: 6em;
}

#r4:checked~#review-form-rating:before,
#r4+label:hover~#review-form-rating:before {
    width: 8em;
}

#r5:checked~#review-form-rating:before,
#r5+label:hover~#review-form-rating:before {
    width: 10em;
}

.review_rating {
    position: relative;
    display: inline-block;
    text-indent: -999em;
}

.review_rating:before,
.review_rating:after {
    content: '';
    display: block;
    width: 8.25em;
    height: 1.5em;
    background-image: var(--spritesheet-img);
    background-size: 14em auto;
    background-position: -1em -3.7em;
    position: absolute;
    top: 0;
    left: 0;
}

.review_rating:after {
    background-position: -1em -6.25em;
    width: calc(1.58em * var(--rating));
}

#add-review-form {
    margin-bottom: 1em;
}

#rating-and-submit-container {
    display: flex;
}

#rating-and-submit-container>fieldset:nth-of-type(1) {
    /* Rating */
    flex-grow: 1;
    font-weight: bold;
}

#rating-and-submit-container>fieldset:nth-of-type(2) {
    /* Send */
    align-self: center;
}

textarea {
    width: 100%;
    min-height: 5em;
    font-family: var(--main-font);
    resize: none;
}

#review-box {
    resize: none;
}

summary {
    cursor: pointer;
}

.review-reply-form {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: .5em;
}

.review-reply-form textarea {
    width: 100%;
    height: 100%;
    text-align: left;
}

.proper-list {
    margin-left: 1.5em;
}

#upload-addon-form div {
    display: grid;
    grid-template-columns: 9em 1fr;
    grid-template-rows: 1fr 1.5fr;
}

#upload-addon-form legend {
    font-weight: bold;
    margin-bottom: 1em;
    font-family: var(--heading-font);
    width: 100%;
}

#upload-addon-form div>*:nth-child(3) {
    grid-column: 1 / span 2;
    font-size: .8em;
    opacity: .5;
}

#upload-addon-form div {
    display: grid;
    grid-template-columns: 9em 1fr;
    grid-template-rows: 1fr 1.5fr;
}

#upload-addon-form legend {
    font-weight: bold;
    margin-bottom: 1em;
    font-family: var(--heading-font);
    width: 100%;
}

#upload-addon-form div>*:nth-child(3) {
    grid-column: 1 / span 2;
    font-size: .8em;
    opacity: .5;
}

#upload-addon-form-confirm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: .5em;
}

#upload-addon-form-confirm div {
    display: flex;
    gap: .5em;
}

#upload-addon-form-warning {
    display: block !important;
}

#login-signup-container {
    position: relative;
}

#signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: .1s linear opacity;
}

#login,
#signup {
    background-color: #111;
    padding: .5em 1em;
    border-radius: var(--roundiness);
}

#signup:target {
    opacity: 1;
    pointer-events: auto;
}

#signup fieldset>div,
#login fieldset>div {
    display: grid;
    grid-template-columns: 9em 1fr;
}

#signup fieldset>div *,
#login fieldset>div * {
    margin-bottom: .5em;
}

#login fieldset>div:last-child {
    display: flex;
}

#login-signup-container span {
    margin-top: 3em;
    display: block;
}

#toast-contents {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .5em;
}

#toast-contents li {
    background: #555;
    border-radius: calc(var(--roundiness) / 2);
    padding: .25em .5em;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0,0,0,.2));
}

#addon-info header {
    line-height: 1.5;
}

#addon-info h2 {
    padding-bottom: 0;
    max-width: 75%;
}

pre {
    overflow: auto;
}

#advanced-search-form fieldset > div {
  display: grid;
  grid-template-columns: 4em 1fr;
  gap: .5em;
  margin-bottom: .5em;
}

#advanced-search-form fieldset > div:first-of-type {
  grid-template-columns: 4em 1fr 5em;
}

#advanced-search-form label:nth-of-type(2) {
  grid-column: 1 / span 2;
  opacity: .5;
  font-size: .8em;
  margin-top: -.5rem;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#user-header {
  display: grid;
  grid-template-columns: auto 1fr;
grid-template-rows: auto 1fr;
  grid-gap: .5em;
  margin-top: 1em;
}

#user-header > h2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0;
}

#user-header > img {
  grid-area: 1 / 1 / 3 / 2;
  border: 1px solid white;
  width: 6em;
  height: 6em;
}

#user-header > dl {
  grid-area: 2 / 2 / 3 / 3;
}

#user-header dl > div {
  display: flex;
}

#user-header dl dt {
  font-weight: bold;
  width: 5em;
}

ul#user-review-list {
  list-style: none;
}

ul#user-review-list > li {
  margin-bottom: .5em;
}

ul#user-review-list .review_rating {
  width: 8em;
}


@media screen and (max-width: 57em) {
    #banner-container {
        padding: .5em;
    }

    #main-container {
        flex-direction: column;
    }

    #main-container .menu-button-container {
        flex-direction: row;
    }

    #addon-download-button {
        position: static;
        width: fit-content;
        margin-bottom: 1em;
    }

    #addon-info-content {
        flex-direction: column-reverse;
    }

    .addon-infobox {
        margin: auto;
        width: 24em;
        max-width: 100%;
    }

    .addon-infobox dl dt {
        max-width: 7em;
    }

    #banner-container h1 {
        max-width: 50%;
        overflow: hidden;
        max-height: 1em;
    }

    #signup fieldset>div,
    #login fieldset>div {
        display: flex;
        flex-direction: column;
    }

    #login fieldset>div:last-child {
        flex-direction: row;
    }

    #upload-addon-form div {
        display: flex;
        flex-direction: column;
    }

    #upload-addon-form-confirm div {
        flex-direction: row;
    }


    #addon-info h2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 50em) {
    .addon-showcase {
        columns: 2
    }

    .addon-blurb {
        flex-direction: column-reverse;
    }

    .addon-blurb figure {
        text-align: center;
    }
}

@media screen and (max-width: 32em) {
    .addon-showcase {
        columns: 1
    }
}

@media screen and (max-width: 25em) {
    #banner-container h1 {
        max-width: 2em;
        overflow: hidden;
        max-height: 1em;
    }
}
