<article class="mini-addon-blurb">
	<h3>
		<a href="/addons/{{ addon.id }}">
            <span>{{ addon.name.escape() }}</span>
        </a>
        <span>
            {{ addon.version.escape() }}
        </span>
        <br>
		<span>
            by
			{% if addon.authorId.isSome() %}
			<a href="/user/{{ addon.authorId.unwrap() }}" class="registered-author">
				{{ addon.author.escape() }}
			</a>
			{% else %}
			<a href="/search?author={{ addon.author.escape() }}">
				{{ addon.author.escape() }}
			</a>
			{% endif %}
        </span>
	</h3>
	<figure>
		<a href="/addons/{{ addon.id }}">
			<img
				src="{{ addon.imageUrl }}"
				width="160"
				height="100"
				alt="{{ addon.imageAlt }}"
			>
		</a>
		<figcaption>
		<dl>
			<div>
				<dt>Rating</dt>
				<dd>
					{% let rstring = addon_reviews.getRatingString(db, addon) %}
					{% if rstring.isOk() %}
						{{ rstring.unwrap() }}
					{% else %}
						???
					{% endif %}
				</dd>
			</div>
			<div>
				<dt>Updated</dt>
				<dd><time datetime="{{ addon.lastUpdateTime }}">{{ addon.lastUpdateTime.fuzzyTime() }}</time></dd>
			</div>
		</dl>
		</figcaption>
	</figure>
</article>
