<article class="news-item">
    <header>
        <h3><a href="/news/{{ news.id }}">
            <span class="icon-
            {%- case news.kind -%}
            {%- of Announcement -%}announcement
            {%- of Release -%}release
            {%- of Maintenance -%}maintenance
            {%- endcase -%}">
            {%- case news.kind -%}
            {%- of Announcement -%}Announce:
            {%- of Release -%}Release:
            {%- of Maintenance -%}Maintenance:
            {%- endcase -%}</span>
            {{ news.headline.escape() }}
        </a></h3>
    </header>
    <main>
        {{ news.synopsis.escape() }}
    </main>
    <footer>
        <div>
            Posted by
            <a href="/user/{{ news.posterId }}">{{ news.posterName.escape() }}</a>
            on
            <time datetime="{{ news.postTime }}">{{ news.postTime.format(config.StdHumanFormat) }}</time>
        </div>
    </footer>
</article>
