<article class="review" id="review-{{ review.id }}">
    <header>
        <h4>
            <a href="#review-{{ review.id }}">
                <span class="review_author">{{ review.reviewer.escape() }}</span>
                <span>&mdash;</span>
                <time datetime="{{ review.reviewDate }}">{{ review.reviewDate.fuzzyTime() }}</time>
            </a>
            <span class="review_rating" style="--rating: {{ review.rating }}">&mdash; {{ review.rating }} stars</span>
        </h4>
    </header>
    <div>
        {{ review.content.bbcode2Html() }}
    </div>

    <details>
        <summary>Reply to this message...</summary>
        <form method="post" class="review-reply-form" action="/addons/{{ addon.id.unwrap() }}/review">
            <input type="hidden" name="type" value="reply">
            <input type="hidden" name="reply-to" value="{{ review.id }}">
            <fieldset>
                <textarea name="reply-content"></textarea>
            </fieldset>
            <fieldset>
                <input type="hidden" name="token" value="{{ acsrf }}">
                <input type="submit" value="Reply">
            </fieldset>
        </form>
    </details>

    {% for reply in review.replies %}
        {% importnimja "fragments/review_reply.html" %}
    {% endfor %}
</article>
