<article class="review review_reply" id="review-{{ reply.id }}">
    <header>
        <h4>
            <a href="#review-{{ reply.id }}">
                <span class="review_author">{{ reply.reviewer.escape() }}</span>
                <span>&mdash;</span>
                <time datetime="{{ reply.reviewDate }}">{{ reply.reviewDate.fuzzyTime() }}</time>
            </a>
        </h4>
    </header>
    <div>
        {{ reply.content.bbcode2Html() }}
    </div>
</article>