<article class="review">
    <header>
        <h4>
            <a href="/addons/{{ review.addonId }}#review-{{ review.id }}">
                <span class="review_author">{{ review.reviewer.escape() }}</span>
            </a>
            on
            <a href="/addons/{{ review.addonId }}">
                {% let addonName = addon_info.getAddonNameFromId(db, review.addonId) %}
                {% if addonName.isOk() %}
                {{ addonName.unwrap().escape() }}
                {% else %}
                ???
                {% endif %}
            </a>
            <span>&mdash;</span>
            <a href="/addons/{{ review.addonId }}#review-{{ review.id }}">
                <time datetime="{{ review.reviewDate }}">{{ review.reviewDate.fuzzyTime() }}</time>
            </a>
            <span class="review_rating" style="--rating: {{ review.rating }}">&mdash; {{ review.rating }} stars</span>
        </h4>
    </header>
    <div>
        {{ review.content.bbcode2Html() }}
    </div>
</article>
